<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simple Calculator</title>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="starter-template">
        <h1>Simple Calculator</h1>
        <hr/>
    </div>
    <form th:action="@{/multiplication}" method="get">
        <fieldset>
            <div class="form-group">
                <b><label th:text="${resultText}"/></b><input type="number" name="count" class="form-control input-lg"
                                                              required="required" min="1"/>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Proceed" />
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                </div>
            </div>
        </fieldset>
    </form>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>